/*
**.swp
**.swo
**/.env

!.gitignore

!.bashrc

!.config/
.config/*
!.config/alacritty/
!.config/nvim/
!.config/tmux/
!.config/kitty/
.config/nvim/lazy-lock.json

!.setup/

!.local/
.local/*
!.local/share/
.local/share/*
!.local/share/fonts/
!.local/share/fonts/**
