/*
**.swp
**.swo

!.gitignore

!.bashrc

!.config/
.config/*
!.config/alacritty/
!.config/nvim/
.config/nvim/lazy-lock.json
!.config/tmux/

!.setup/

!.local/
.local/*
!.local/share/
.local/share/*
!.local/share/fonts/
!.local/share/fonts/**
