/*
**.swp
**.swo
**/.env

!.gitignore

!.bashrc

!README.md

!.config/
.config/*
!.config/alacritty/
!.config/nvim/
.config/nvim/lazy-lock.json

!.config/tmux/
!.config/kitty/
!.config/git/

!.setup/

!.local/
.local/*
!.local/share/
.local/share/*
!.local/share/fonts/
!.local/share/fonts/**
